/*=======================================================================
*** DSU STYLE SHEET***
========================================================================*/
.site-branding__text {
  text-align: center;
  font-size: 2.5em;
  font-family: "Times New Roman",Times,serif;
  font-weight: 100;
}
.site-branding__text h6 {
    color:#002554 !important;
    margin: 0 !important;
}
.slogan{
  background-color: #ffffff;
}

.post-image-dsu {
  margin-left: -60px !important;
}
 .no-border {
   border: 0 !important;
 }
 .border-bottom { border-bottom: 1px solid #DDD;}