.horizontal-pane {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 225, 225);
}

.horizontal-pane:last-child {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
}

.breadcrumb {
  font-size: 16px;
  font-weight: bold;
}

.breadcrumb-link {
  color: #0088cc;
}
