.horizontal-pane {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 225, 225);
}

.horizontal-pane:last-child {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
}

.breadcrumb {
  font-size: 16px;
  font-weight: bold;
}

.breadcrumb-link {
  color: #0088cc;
}

.page-header .breadcrumb ol a {
  text-decoration: underline;
}

.view-taxonomy-term th,
.view-taxonomy-term td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-bottom: 1px solid rgb(230, 225, 225);
}
.view-taxonomy-term td:last-child,
.view-taxonomy-term th:last-child {
  padding-right: 0px;
  border-bottom: 0px;
}
.view-taxonomy-term tr:first-child th {
  border-bottom: 2px solid black;
}
