******** views-view-unformatted--portfolio_pages--page_grid_3columns.html.twig

<div class="container">
    <div class="row">
        <div class="sort-destination-loader sort-destination-loader-showing">
            <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
                {{ rows | length }}
                {% for row in rows %}
                    {{ row.content }}
                {% endfor %}
                jdslfjadkjalsdgjaskdj
            </ul>
        </div>
    </div>
</div>
end